{% load bootstrap4 %} <!-- Carregando bootstrap -->
{% load static %} <!-- Carregando statis -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Produtos</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <!-- Verificação se há produtos cadastrados -->
        {% if produtos %}

        <h1> Produtos </h1>

        <!-- Apresentando os dados com tabela estilisada -->
        <table class="table table-dark">
            <!-- Cabeçalho da tabela -->
            <thead>
                <tr>
                    <th scope="col"> # </th>
                    <th scope="col"> Nome </th>
                    <th scope="col"> Preço </th>
                    <th scope="col"> Estoque </th>
                </tr>
            </thead>

            <tbody>
                <!-- Pra cada produto do banco, apresenta o id, nome, preço e estoque. Definidos no ModelForm -->
                {% for produto in produtos %}
                    <tr>
                        <td scope="row"> {{ produto.id }} </td>
                        <!-- Quando clicar no produto, abrir imagem com modal sendo identificado pelo ID -->
                        <td scope="row"> <a href="#modal{{produto.id}}" data-toggle="modal"> {{ produto.nome }} </a> </td>
                        <td scope="row"> R$ {{ produto.preco }} </td>
                        <td scope="row"> {{ produto.estoque }} </td>
                    </tr>

                    <!-- Link para o produto -->
                    <div class="modal fade bd-example-modal-lg show" id="modal{{produto.id}}" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <!-- Exibe a imagem em si do produto -->
                                <div class="modal-body" id="dynamic-content">
                                    <img src="{{ produto.imagem.url }}" class="img-fluid" alt="{{ produto.nome }}">
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- End for -->
                {% endfor %}
            </tbody>
        </table>

        <!-- Se não tiver produtos cadastrados, apesar exibir mensagem -->
        {% else %}
            <h2> Não há produtos cadastrados ainda :( </h2>

        <!-- End if -->
        {% endif %}
    </div>

    {% bootstrap_javascript jquery='full' %}
</body>
</html>